<div class="search-bar-container">
    <form (ngSubmit)="onSaveStore()" [formGroup]="storeForm">
        <mat-form-field appearance="fill">
            <mat-label>Search content</mat-label>
            <input matInput id="searchText" class="form-control" formControlName="searchText"  placeholder="...search in social media..." required >
            <mat-error *ngIf="storeForm.controls.searchText.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div [formGroup]="storeForm.controls.selectedSources">
            <mat-checkbox *ngFor="let source of sources;" formControlName="{{source}}">{{source}}</mat-checkbox>
        </div>
    </form>
</div>
