<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="'/'">
        <mat-icon>home</mat-icon>
    </button>
    <span class="app-name">Social Press</span>
    <span class="actions-spacer"></span>
    <button mat-icon-button [routerLink]="'/user'">
        <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="'/activity'">
        <mat-icon>history</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="'/popular'">
        <mat-icon>stars</mat-icon>
    </button>
</mat-toolbar>
